{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>histofy-v1.4</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/Article-List.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Bootstrap-4---Team-Members.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/dh-card-image-left-dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Features-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Basic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gradient-navbar-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gradient-navbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Header-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Highlight-Blue.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Highlight-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Highlight-Phone.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Hover-cards.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Modern-Contact-Form.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navbar---Apple-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navbar---Apple.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/News-Cards.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Team-Boxed.css' %}">
</head>

<body>
    <!-- Start: Navigation with Search -->
    <nav class="navbar navbar-light navbar-expand-md fixed-top order-5 navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="../">Histofy</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse d-lg-flex justify-content-end align-items-center align-content-center justify-content-lg-end" id="navcol-1">
                <ul class="navbar-nav d-lg-flex justify-content-center align-items-center align-content-center justify-content-lg-end">
                    <li class="nav-item"><a class="nav-link" href="../">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#">Sobre Nós</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://app.pipefy.com/public/form/_Bn68dO_" target="_blank">Contato</a></li>
                </ul>
            </div>
        </div>
    </nav><!-- End: Navigation with Search -->
    <!-- Start: Header Dark -->
    <header class="d-flex justify-content-center align-items-center align-content-center order-5 header-dark" style="width: auto;height: 100vh;padding-top: 0px;padding-bottom: 0px;margin: 0px;background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url({% static 'assets/img/bg-showcase-2.jpg' %}) center / cover no-repeat, rgba(68,68,68,0.2);">
        <!-- Start: Highlight Clean -->
        <section class="text-center d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center align-content-center order-5 justify-content-sm-center align-items-sm-center align-content-sm-center justify-content-md-center align-items-md-center align-content-md-center justify-content-lg-center align-items-lg-center align-content-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center highlight-clean" style="background: rgba(255,255,255,0);margin-top: 64px;margin-bottom: 0px;">
            <div class="container d-inline-block justify-content-center align-items-center align-content-center align-self-center">
                <!-- Start: Intro -->
                <div class="intro" style="max-width: 100vw;">
                    <h1 class="text-capitalize text-center" style="color: rgb(255,255,255);font-size: 38px;width: 100%;">Saiba mais</h1>
                    <p class="text-center" style="border-style: none;color: rgb(255,255,255);font-size: 18px;margin-bottom: 32px;margin-top: 0px;">Conheça um pouco sobre a ideia e proposta do projeto. Saiba também sobre nossa equipe é o que planejamos executar com a criação dessa plataforma.</p>
                </div><!-- End: Intro -->
                <!-- Start: Buttons -->
                <div class="buttons"><a class="btn btn-primary btn-lg" role="button" href="#about_us" style="font-size: 14px;" target="_parent">iniciar</a></div><!-- End: Buttons -->
            </div>
        </section><!-- End: Highlight Clean -->
    </header><!-- End: Header Dark -->
    <!-- Start: Highlight Blue -->
    <section id="about_us" class="highlight-blue" style="background: rgb(0,0,0);">
        <div class="container text-start" style="text-align: left;">
            <!-- Start: Intro -->
            <div class="text-start intro" style="margin-right: 0px;margin-left: 0px;max-width: 90%;">
                <h2 class="text-start" style="margin-top: 6%;">Sobre Nós</h2>
                <p class="text-start">Somos um time formado por três integrantes inspirados por uma ideia. Uma ideia que poderá trazer uma nova forma de como vemos as histórias. As histórias e contos foram feitos para fazer com que as pessoas possam imergir em um mundo totalmente diferente e único.<br><br>Nossa proposta é mostrar as pessoas que a leitura ainda pode ser imersiva e única. Para que isso seja possível nós pensamos em uma plataforma que possa ser capaz de disponibilizar a todos as mais diversas histórias e contos.<br><br>Essa plataforma será disponibilizada para todos, de forma simples e intuitiva onde qualquer um poderá ler e postar suas próprias histórias, além de poder interagir com outras histórias contidas na plataforma. Nosso time pensou em criar uma plataforma onde os usuários além de criar suas histórias de forma individual possa também criar histórias de forma colaborativa.<br><br>Com codinome Histofy, esperamos que nossa plataforma possa no futuro trazer novamente o habito da leitura que cada vez está se tornando mais raro. Atualmente a plataforma encontra-se em desenvolvimento, mas para aqueles que queiram está recebendo de forma antecipada poderá fazer o pré-registro na página inicial para que assim que disponível para o acesso público venha a está tendo o acesso antecipado.<br></p>
            </div><!-- End: Intro -->
            <!-- Start: Buttons -->
            <div class="buttons"></div><!-- End: Buttons -->
        </div>
    </section><!-- End: Highlight Blue -->
    <!-- Start: Footer Basic -->
    <footer class="footer-basic">
        <div class="container">
            <div class="row" style="width: 100%;">
                <div class="col-lg-6 text-center text-lg-start my-auto h-100" style="width: 100%;">
                    <p class="text-muted small mb-4 mb-lg-0">© Histofy 2021. Todos os Direitos Reservados.</p>
                </div>
            </div>
        </div>
    </footer><!-- End: Footer Basic -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'assets/js/Navbar---Apple.js' %}"></script>
</body>

</html>
