{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/Article-List.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Bootstrap-4---Team-Members.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/dh-card-image-left-dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Features-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Basic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gradient-navbar-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gradient-navbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Header-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Highlight-Blue.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Highlight-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Highlight-Phone.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Hover-cards.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Modern-Contact-Form.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navbar---Apple-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navbar---Apple.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/News-Cards.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Team-Boxed.css' %}">
</head>

<body>
    <!-- Start: Navigation with Search -->
    <nav class="navbar navbar-light navbar-expand-md fixed-top order-5 navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="#">Histofy</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse d-lg-flex justify-content-end align-items-center align-content-center justify-content-lg-end" id="navcol-1">
                <ul class="navbar-nav d-lg-flex justify-content-center align-items-center align-content-center justify-content-lg-end">
                    <li class="nav-item"><a class="nav-link active" href="../">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="../about_us/">Sobre Nós</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://app.pipefy.com/public/form/_Bn68dO_" target="_blank">Contato</a></li>
                </ul>
            </div>
        </div>
    </nav><!-- End: Navigation with Search -->
    <!-- Start: Header Dark -->
    <header class="d-flex justify-content-center align-items-center align-content-center order-5 header-dark" style="width: auto;height: 100vh;padding-top: 0px;padding-bottom: 0px;margin: 0px;background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.7)), url({% static 'assets/img/books-knigi-biblioteka-lampy-lampa-svet-polki-uiut.jpg' %}) center / cover no-repeat, rgba(68,68,68,0.49);">
        <!-- Start: Highlight Clean -->
        <section class="text-center d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center align-content-center order-5 justify-content-sm-center align-items-sm-center align-content-sm-center justify-content-md-center align-items-md-center align-content-md-center justify-content-lg-center align-items-lg-center align-content-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center highlight-clean" style="background: rgba(255,255,255,0);margin-top: 64px;margin-bottom: 0px;">
            <div class="container d-inline-block justify-content-center align-items-center align-content-center align-self-center">
                <!-- Start: Intro -->
                <div class="intro" style="max-width: 100vw;">
                    <h1 class="text-capitalize text-center" style="color: rgb(255,255,255);font-size: 38px;width: 100%;">Descubra Histórias Incríveis!</h1>
                    <p class="text-center" style="border-style: none;color: rgb(255,255,255);font-size: 18px;margin-bottom: 32px;margin-top: 0px;">Faça seu pré-registo para ter acesso antecipado ao Histofy. Uma plataforma de criação de histórias únicas.</p>
                </div><!-- End: Intro -->
                <!-- Start: Buttons -->
                <div class="buttons"><a class="btn btn-primary btn-lg" role="button" href="#whats_histofy" style="font-size: 14px;" target="_parent">COMEÇAR</a></div><!-- End: Buttons -->
            </div>
        </section><!-- End: Highlight Clean -->
    </header><!-- End: Header Dark -->
    <!-- Start: O que é Histofy -->
    <section class="text-center testimonials" id="whats_histofy" style="padding-top: 0px;padding-bottom: 0px;margin: 64px 0px;height: 95vh;">
        <!-- Start: Sidebar -->
        <div class="container" style="max-width: 860px;">
            <!-- Start: Intro -->
            <div class="text-center d-inline intro" style="margin-right: 0px;margin-left: 0px;">
                <h2 class="text-center" style="margin-bottom: 26px;margin-top: 96px;">O que é Histofy</h2>
                <p class="text-center" style="margin-bottom: 74px;font-size: 16px;">O Histofy será uma plataforma onde as pessoas poderão criar histórias, compartilhar e colaborar nas histórias de outras pessoas.<br><br>Com o objetivo de criar uma plataforma onde as pessoas possam interagir uma com as outras, o Histofy será uma plataforma de compartilhamento e colaboração no processo de desenvolvimento de histórias.</p><sub class="text-center text-secondary" style="line-height: 0px;">Se você quiser acompanhar o processo de desenvolvimento de nossa plataforma, faça o pré-registro. Ao fazer seu pré-registro você poderá ter acesso antecipado ao Histofy, além de que poderá estar ajudando a criar a melhor experiencia para a plataforma.&nbsp;</sub><!-- Start: Buttons -->
                <div class="buttons"><a class="btn btn-primary btn-lg text-start" role="button" href="https://app.pipefy.com/public/form/ttghSMuv" style="font-size: 14px;font-weight: bold;margin-top: 26px;margin-bottom: 122px;" target="_blank">PRÉ-REGISTRO</a></div><!-- End: Buttons -->
            </div><!-- End: Intro -->
            <div class="row">
                <div class="col-md-12 d-lg-flex justify-content-end align-items-end align-content-end align-self-end align-items-lg-end" style="padding: 0px;"><a href="#diferencies_histofy" target="_parent" style="color: rgba(0,123,255,0);">
                        <p class="text-center" style="margin: 0px;color: rgb(180,177,177);font-size: 14px;font-weight: bold;">Principais Diferenças</p><i class="material-icons" style="margin-top: -4px;color: rgb(180,177,177);">keyboard_arrow_down</i>
                    </a></div>
            </div>
        </div><!-- End: Sidebar -->
    </section><!-- End: O que é Histofy -->
    <!-- Start: Spacing -->
    <section class="text-center bg-light order-5 testimonials" style="padding-top: 0px;padding-bottom: 0px;height: 80px;"></section><!-- End: Spacing -->
    <!-- Start: Principais Diferenças -->
    <section class="text-center bg-light order-5 features-icons" id="diferencies_histofy" style="background: rgb(255,255,255);margin-bottom: 0px;margin-top: 64px;padding-bottom: 0px;padding-top: 0px;">
        <!-- Start: Features Clean -->
        <section class="order-5 features-clean">
            <div class="container order-5">
                <!-- Start: Intro -->
                <div class="intro" style="margin-bottom: 64px;max-width: 90%;">
                    <h2 class="text-center text-sm-center text-md-center text-lg-center text-xl-center text-xxl-center" style="text-align: center;padding: 0px;margin: 0px;margin-bottom: 10px;margin-top: 96px;">Principais Diferenças</h2>
                    <p class="text-center text-sm-center text-md-center text-lg-center text-xl-center text-xxl-center align-self-center" style="padding: 0px;padding-left: 10px;padding-right: 10px;text-align: justify;margin: 0px;">Com o Histofy, você irá conseguir desenvolver diversas histórias, fazer amigos e principalmente, se divertir em conjunto.</p>
                </div><!-- End: Intro -->
                <!-- Start: Features -->
                <div class="row features" style="margin: 0px;">
                    <div class="col-sm-6 col-lg-4 item"><i class="material-icons icon">tag_faces</i>
                        <h3 class="d-flex d-lg-flex justify-content-start justify-content-lg-start name">Acesso Livre</h3>
                        <p class="d-lg-flex justify-content-lg-start description" style="text-align: left;">Basta acessar nossa plataforma para começar a ler e embarcar em diversas histórias imersivas. Tudo isso livre de logins.</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 item"><i class="material-icons icon">people_outline</i>
                        <h3 class="name" style="text-align: left;">Sistema Colaborativo</h3>
                        <p class="description" style="text-align: left;">Nossa proposta é proporcionar um experiência unificada aos nossos usuários, criando histórias e compartilhando para todos.</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 item"><i class="material-icons icon">favorite_border</i>
                        <h3 class="name" style="text-align: left;">Fácil de Usar</h3>
                        <p class="description" style="text-align: left;">Estamos desenvolvendo uma plataforma onde qualquer pessoa possa ler, criar e compartilhar histórias sem qualquer dificuldade.</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 item"><i class="material-icons icon">devices</i>
                        <h3 class="d-flex d-lg-flex justify-content-start justify-content-lg-start name">Multi Plataforma</h3>
                        <p class="d-lg-flex justify-content-lg-start description" style="text-align: left;">O Histofy será acessível para qualquer usuário, independente da plataforma que ele irá acessar ou das restrições do seu dispositivo.</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 item"><i class="material-icons icon">spellcheck</i>
                        <h3 class="d-flex d-lg-flex justify-content-start justify-content-lg-start name">Conteúdos Revisados</h3>
                        <p class="d-lg-flex justify-content-lg-start description" style="text-align: left;">Cada história irá passar por algumas etapas antes de serem publicadas, para garantir que não publicação de conteúdos inapropriados.</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 item"><i class="material-icons icon">cloud_off</i>
                        <h3 class="d-flex d-lg-flex justify-content-start justify-content-lg-start name">Modo Offline</h3>
                        <p class="d-lg-flex justify-content-lg-start description" style="text-align: left;">Em futuras implementações o Histofy será capaz de entregar os seus conteúdos favoritos de nossa plataforma sem a necessidade de internet.</p>
                    </div>
                </div><!-- End: Features -->
                <div class="row">
                    <div class="col-md-12 invisible" style="padding: 0px;text-align: center;"><a href="#your_team_histofy" target="_parent">
                            <p class="text-center" style="margin: 0PX;color: rgb(180,177,177);font-size: 14px;font-weight: bold;">Nossa Equipe</p><i class="material-icons" style="margin-top: -4px;color: rgb(180,177,177);">keyboard_arrow_down</i>
                        </a></div>
                </div>
            </div>
        </section><!-- End: Features Clean -->
    </section><!-- End: Principais Diferenças -->
    <!-- Start: Nosso Time -->
    <section class="text-center bg-light order-5 testimonials" id="your_team_histofy" style="padding-top: 0px;padding-bottom: 0px;">
        <!-- Start: Team Boxed -->
        <section class="team-boxed" style="background: rgb(245,245,245);">
            <div class="container">
                <!-- Start: Intro -->
                <div class="intro" style="max-width: 90%;">
                    <h2 class="text-center">Nossa Equipe</h2>
                    <p class="text-center">Nosso time é composto por integrantes que buscam a melhor forma de integração e colaboração entre os usuários. Buscando também implementar de forma intuitiva o abito da leitura.</p>
                </div><!-- End: Intro -->
                <!-- Start: People -->
                <div class="row people" style="width: 90%;">
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="{% static 'assets/img/42311765_2148457741853747_70868485097390080_o.jpg' %}" style="width: 128px;">
                            <h3 class="name">Yuri F. Torres</h3>
                            <p class="title">DESENVOLVEDOR</p>
                            <p class="description">Procurando sempre o melhor das pessoas através da tecnologia. Estou sempre procurando criar softwares capazes de ajudar as pessoas.</p>
                            <div class="social"><a href="https://www.facebook.com/yuritorresf/" target="_blank"><i class="fa fa-facebook-official"></i></a><a href="https://twitter.com/exploited_gz" target="_blank"><i class="fa fa-twitter"></i></a><a href="https://www.instagram.com/exploited.gz" target="_blank"><i class="fa fa-instagram"></i></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="{% static 'assets/img/173732020_2050673928407556_2879168069195228107_n.jpg' %}" style="width: 128px;">
                            <h3 class="name">Francisco Das Chagas</h3>
                            <p class="title">DESENVOLVEDOR</p>
                            <p class="description">Sou uma pessoa que busca sempre novos horizontes com a tecnologia. Acredito que, com a tecnologia que criamos seremos capazes de fazer a diferença.</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="{% static 'assets/img/104588310_577127979829426_7366651837066589573_n.jpg' %}" style="width: 128px;">
                            <h3 class="name">Gilkleyton Valdemar</h3>
                            <p class="title">DESIGNER</p>
                            <p class="description">Sempre que faço um design penso como esse design pode ser intuitivo para todos. Espero que sempre possa estar ampliando meu aprendizado.</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                    </div>
                </div><!-- End: People -->
            </div>
        </section><!-- End: Team Boxed -->
    </section><!-- End: Nosso Time -->
    <!-- Start: Highlight Phone -->
    <section class="highlight-phone" style="background: rgb(255,255,255);">
        <div class="container">
            <div class="row" style="width: 100%;">
                <div class="col-md-8" style="min-width: 50%;">
                    <!-- Start: Intro -->
                    <div class="intro">
                        <h2 style="margin-bottom: 32px;">Faça parte do Histofy</h2>
                        <p style="margin-bottom: 42px;">Entre para o programa e tenha acesso antecipado quando nossa plataforma estiver disponível.</p><a class="btn btn-primary" role="button" href="https://app.pipefy.com/public/form/ttghSMuv" target="_blank">fazer pré-registro</a>
                    </div><!-- End: Intro -->
                </div>
            </div>
        </div>
    </section><!-- End: Highlight Phone -->
    <!-- Start: Spacing -->
    <section class="text-center bg-light order-5 testimonials" style="padding-top: 0px;padding-bottom: 0px;height: 80px;"></section><!-- End: Spacing -->
    <!-- Start: Footer Basic -->
    <footer class="footer-basic">
        <div class="container">
            <div class="row" style="width: 100%;">
                <div class="col-lg-6 text-center text-lg-start my-auto h-100" style="width: 100%;">
                    <p class="text-muted small mb-4 mb-lg-0">© Histofy 2021. Todos os Direitos Reservados.</p>
                </div>
            </div>
        </div>
    </footer><!-- End: Footer Basic -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'assets/js/Navbar---Apple.js' %}"></script>
</body>

</html>
